__pycache__/
*.py[cod]
.pytest_cache/
.venv/
dist/
build/
*.egg-info/
artifacts/
realtime_speech_enhancement_demo/
data/raw/
data/processed/
noisy_testset_wav/
clean_testset_wav/
reverb_testset_wav/
/*.wav
